<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новое выступление</title>
</head>
<body>
<nav>
    <a href="/">Домашняя страница</a>
</nav>
<h2>Новое выступление</h2>
    <form action="pr-regsuc" method="post">
        <p>
            Название:<br>
            <input name="pr_name" />
        </p>
        <p>
            Имя докладчика:<br>
            <input name="presenter" />
        </p>
        <p>
            Время:<br>
            <input name="time" />
        </p>
        <p>
            Комната:<br>
            <input name="room_num" />
        </p>
        <input type="submit" value="Send" />
    </form>
</body>
</html>