<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<nav>
    <a href="/index">Домашняя страница</a>
</nav>
<h2>Регистрация на презентацию</h2>
    <form action="regsuc" method="post">
        <p>
            Ваше имя:<br>
            <input name="name" />
        </p>
        <p>
            Номер презентации:<br>
            <input name="pr_id" type="number" />
        </p>
        <input type="submit" value="Send" />
    </form>
</body>
</html>